.home-div, .App {
  text-align: center;
}

.rez-div, .auth-div, .Update-div {
  text-align: center;
  font-size: calc(10px + 2vmin);
  background-color: #9B9892;
}

.welcome-h1 {
  text-align: center;
  font-size: calc(12px + 2vmin);
  background-color: #9B9892;
  text-shadow: 2px 2px 2px white;
}

.log-div {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 2px #000000;
  font-size: calc(10px + 2vmin);
  border-style: double;
  padding: 10px;
}

.home-div{
  background-color: lightgrey;
}

.nav-links {
  font-weight: bold;
  font-size: calc(6px + 2vmin);
  display: inline;
  margin: 6%;
}

/* unvisited link */
a:link {
  color: #9B9892;
  text-decoration: none;
  text-shadow: 2px 2px 2px #000000;
}

/* visited link */
a:visited {
  color: #9B9892;
}

/* mouse over link */
a:hover {
  color: #d4b897;
}

/* selected link */
a:active {
  color: #77d891;
}

.room-button, .Button {
  font-size: calc(10px + 2vmin);
  background-color: #d4b897;
}

.cancel-button, .Logout-button, .Delete-button {
  font-size: calc(6px + 2vmin);
  background-color: #d49797;
}

.edit-button, .Update-button {
  font-size: calc(6px + 2vmin);
  background-color: #abc7b2;
}

.room-button {
  font-size: calc(14px + 2vmin);
  background-color: #d4b897;
}

table {
  color: black;
  font-size: calc(6px + 2vmin);
  padding: 10px;
  table-layout: fixed;
  width: 100%;
}

th {
  border: 1px solid black;
  padding: 10px;
}

td {
  border: 1px solid black;
  padding: 10px;
  color: #77d891;
  text-shadow: 2px 2px 2px #000000;
  font-weight: bold;
  text-align: center;
}

.hr {
  color: black;
}

.list-div {
  text-align: center;
  font-weight: bold;
  font-size: calc(6px + 2vmin);
  background-color: #9B9892;
  max-width: 70%;
  margin-left: 15%;
}

h1 {
  font-weight: bold;
  font-size: calc(16px + 2vmin);
  text-align: center;
} 

.filter {
  margin-left: 46%;
}

.Image {
  max-width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}