.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
  width: auto;
  height: auto;
  object-fit: cover;
}  */

.auth-div {
  text-align: center;
  font-size: calc(10px + 2vmin);
  background-color: #9B9892;
}

.a-div {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: calc(10px + 2vmin);
  border-style: double;
  padding: 10px;
}

.Button {
  font-size: calc(10px + 2vmin);
  background-color: #d4b897;
}