.home-div, .welcome-h1, .App {
  text-align: center;
}

.rez-div, .auth-div, .Update-div {
  text-align: center;
  font-size: calc(10px + 2vmin);
  background-color: #9B9892;
}

.log-div {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: calc(10px + 2vmin);
  border-style: double;
  padding: 10px;
}

.home-div{
  background-color: lightgrey;
}

.nav-links {
  font-weight: bold;
  font-size: calc(6px + 2vmin);
  display: inline;
  margin: 8%;
}

.room-button, .Button {
  font-size: calc(10px + 2vmin);
  background-color: #d4b897;
}

.cancel-button, .Logout-button, .Delete-button {
  font-size: calc(6px + 2vmin);
  background-color: #d49797;
}

.edit-button, .Update-button {
  font-size: calc(6px + 2vmin);
  background-color: #abc7b2;
}

.room-button {
  font-size: calc(14px + 2vmin);
  background-color: #d4b897;
}

table {
  color: black;
  font-size: calc(6px + 2vmin);
  padding: 10px;
  table-layout: fixed;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 10px;
}

.hr {
  color: black;
}

.list-div {
  text-align: center;
  font-weight: bold;
  font-size: calc(6px + 2vmin);
  background-color: #9B9892;
  max-width: 70%;
  margin-left: 15%;
}

h1 {
  font-weight: bold;
  font-size: calc(16px + 2vmin);
  text-align: center;
} 

.filter {
  margin-left: 46%;
}